[submodule "TechChallengeFiapMicrosserviceConsumerDeleteContact"]
	path = TechChallengeFiapMicrosserviceConsumerDeleteContact
	url = https://github.com/ErickGoldberg/TechChallengeFiapMicrosserviceConsumerDeleteContact
