[submodule "TechChallengeFiapMicrosserviceConsumerDeleteContact"]
	path = TechChallengeFiapMicrosserviceConsumerDeleteContact
	url = https://github.com/ErickGoldberg/TechChallengeFiapMicrosserviceConsumerDeleteContact
[submodule "TechChallengeFiapMicrosserviceProducerCreateContact"]
	path = TechChallengeFiapMicrosserviceProducerCreateContact
	url = https://github.com/Mauro-Benitez/TechChallengeFiapMicrosserviceProducerCreateContact
[submodule "TCFiapConsultContactsFunction"]
	path = TCFiapConsultContactsFunction
	url = https://github.com/ErickGoldberg/TCFiapConsultContactsFunction.git
[submodule "TCFiapConsumerDLQ"]
	path = TCFiapConsumerDLQ
	url = https://github.com/ErickGoldberg/TCFiapConsumerDLQ.git
